[submodule "salt_stack/salt/boss-tools/files/boss-tools.git"]
	path = salt_stack/salt/boss-tools/files/boss-tools.git
	url = https://github.com/neurodata/boss-tools.git
	branch = ndmaster
[submodule "salt_stack/salt/boss/files/boss.git"]
	path = salt_stack/salt/boss/files/boss.git
	url = https://github.com/neurodata/boss.git
	branch = ndmaster
[submodule "salt_stack/salt/spdb/files/spdb.git"]
	path = salt_stack/salt/spdb/files/spdb.git
	url = https://github.com/jhuapl-boss/spdb.git
	branch = master	
[submodule "salt_stack/salt/ndingest/files/ndingest.git"]
        path = salt_stack/salt/ndingest/files/ndingest.git
	url = https://github.com/jhuapl-boss/ndingest.git
	branch = master
[submodule "salt_stack/salt/ingest-client/files/ingest-client.git"]
        path = salt_stack/salt/ingest-client/files/ingest-client.git
	url = https://github.com/jhuapl-boss/ingest-client.git
        branch = master
[submodule "lib/heaviside.git"]
	path = lib/heaviside.git
	url = https://github.com/neurodata/heaviside.git
	branch = master
[submodule "cloud_formation/lambda/dynamodb-lambda-autoscale"]
	path = cloud_formation/lambda/dynamodb-lambda-autoscale
	url = https://github.com/neurodata/dynamodb-lambda-autoscale.git
	branch = ndmaster
